@model SmartSignWebApp.ViewModels.AdminViewModel

@{
    //ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isSigned" /> @Html.DisplayNameFor(model => model.isSigned)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DocGuid" class="control-label"></label>
                <input asp-for="DocGuid" class="form-control" />
                <span asp-validation-for="DocGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedDocGuid" class="control-label"></label>
                <input asp-for="SignedDocGuid" class="form-control" />
                <span asp-validation-for="SignedDocGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocName" class="control-label"></label>
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lName" class="control-label"></label>
                <input asp-for="lName" class="form-control" />
                <span asp-validation-for="lName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notifyEmail" class="control-label"></label>
                <input asp-for="notifyEmail" class="form-control" />
                <span asp-validation-for="notifyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="signatoryEmail" class="control-label"></label>
                <input asp-for="signatoryEmail" class="form-control" />
                <span asp-validation-for="signatoryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
