@model AdminViewModel
@*{
        ViewBag.Title = "Admin";
    }*@

@*This section is added to the scripts section are in the _Layout.cshtml*@
<script>
    uploadedFile = ("@(ViewBag.UploadStatus)" == "UploadSuccess" ) ? true:false;
</script>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.js"></script>
}


<div id="uploadForm">


    <div class="well">

        @{
            String uploadStatus = ViewBag.UploadStatus;
            await Html.RenderPartialAsync(uploadStatus);
        }

       
        <form method="post" asp-controller="app" asp-action="AdminAsync">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="DocName">Document Name:</label>
                <input asp-for="DocName" type="text" value="@ViewBag.docName" class="form-control formDisable" />
                <span asp-validation-for="DocName"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocGuid">Document ID:</label>
                <input asp-for="DocGuid" type="text" value="@ViewBag.docGuid" class="form-control formDisable" />
                <span asp-validation-for="DocGuid"></span>
            </div>

            <div class="form-group">
                <label asp-for="fName">First Name:</label>
                <input asp-for="fName" type="text" class="form-control formToggle" />
                <span asp-validation-for="fName"></span>
            </div>
            <div class="form-group">
                <label asp-for="lName">Last Name:</label>
                <input asp-for="lName" type="text" class="form-control formToggle" />
                <span asp-validation-for="lName"></span>
            </div>
            <div class="form-group">
                <label ToolTip="The address of the signatory" asp-for="signatoryEmail">Signatory Email:</label>
                <input ToolTip="The address of the signatory" asp-for="signatoryEmail" type="email" class="form-control formToggle" />
                <span asp-validation-for="signatoryEmail"></span>
            </div>
            <div class="form-group">
                <label ToolTip="When a document is signed notify this address" asp-for="notifyEmail">Notify Email:</label>
                <input ToolTip="When a document is signed notify this address" asp-for="notifyEmail" type="email" class="form-control formToggle" />
                <span asp-validation-for="notifyEmail"></span>
            </div>

            <div class="form-group">
                <label ToolTip="Add an optional message" asp-for="message">Message:</label>
                <textarea asp-for="message" rows="4" class="form-control formToggle"></textarea>
                <span asp-validation-for="message"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary formToggle"><i class="fa fa-envelope"></i> Send Document</button>
            </div>
        </form>
    </div>
</div> 