@*{
    //ViewBag.Title = "Client";
}*@

<div>
    <label>Download</label>
    <button>Download Document</button>
    <br />
    <label>Connect</label>
    <button>Connect SmartPen</button>
    <br />
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000"></canvas>
    <br />
    <label>Sign Document</label>
    <button>Sign</button>

</div>